extends layout

block stylesheet
  //- dependencies
  link(rel='stylesheet', href='/bower_components/angular-bootstrap/ui-bootstrap-csp.css')
  
  //- application
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  app(ng-app='AnimeTracker')
    main(ui-view)

block script
  //- dependencies
  script(src='/bower_components/angular/angular.min.js')
  script(src='/bower_components/angular-animate/angular-animate.js')
  script(src='/bower_components/angular-touch/angular-touch.min.js')
  script(src='/bower_components/angular-route/angular-route.min.js')
  script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
  script(src='/bower_components/angular-bootstrap/ui-bootstrap.min.js')
  script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
  
  //- application
  script(src='/javascripts/services/dataService.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/controllers/indexCtrl.js')
  script(src='/javascripts/directives/animemodel/anime.js')
