doctype html
html
    head
        title= title
        //- dependencies style sheets
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        
        //- application styple sheets
        block stylesheet
    body
        block content
        //- dependencies
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        
        //- application
        block script
